@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background-color: rgb(249, 235, 192);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    'Helvetica Neue',
    Inter,
    -apple-system,
    Pacifico,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
