@mixin login-registry-block() {
  display: flex;
  margin: auto;
  width: clamp(288px, 55vw, 70%);
  height: 650px;
  border-radius: 16px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
